<h1>Video Player</h1>
<div style="height: 500px; width: 500px;">
  <video class="video-js"  poster="https://i.pcmag.com/imagery/lineups/05OQSA4rlL7876eIsOPWHNV-1.fit_lim.size_1600x900.v1569492718.jpg" #target></video>

</div>

<!-- <source
    src="https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8"
    type="application/x-mpegURL"
  /> -->

<!-- class="video-js vjs-default-skin"
width="640px"
height="267px"
controls
preload="none"
poster="https://i.pcmag.com/imagery/lineups/05OQSA4rlL7876eIsOPWHNV-1.fit_lim.size_1600x900.v1569492718.jpg"
data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'
crossorigin="true" -->
